
[controllers]
%{ for item in controllers ~}
${item.public_ip}
%{ endfor ~}

[workers]
%{ for item in workers ~}
${item.public_ip}
%{ endfor ~}

[all:vars]
ansible_user=${user}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'




[controllers:vars]
ansible_user=${user}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[workers:vars]
ansible_user=${user}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'